In [32]:
#!pip install scikit-learn
#!pip install tensorflow

In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Conv1D, MaxPooling1D, Flatten

In [34]:
combined_data= pd.read_csv('data/combined_df_with_wurfnummer.csv')

In [35]:
filtered_data = combined_data.drop(columns=['_id', 'n', 'counter', 'timestamp'])
filtered_data = filtered_data[filtered_data['label'] != 2]
filtered_data

,ax,ay,az,gx,gy,gz,label,wurf_nummer
0,-0.529297,-0.585693,1.212646,83.122139,59.503819,26.992367,0,1
1,-0.616211,-0.611572,1.066650,87.221375,53.068703,45.687023,0,1
2,-0.665039,-0.663330,0.896973,96.763359,48.358780,61.442749,0,1
3,-0.643799,-0.742676,0.838623,111.404579,38.091602,67.748093,0,1
4,-0.565918,-0.812256,0.837646,124.549622,21.595419,66.770996,0,1
...,...,...,...,...,...,...,...,...
72262,-0.852051,0.165771,-0.548096,-33.427483,-17.564886,33.633587,1,47
72263,-0.685791,0.134766,-0.592041,-29.908398,-11.519084,31.030535,1,47
72264,-0.902588,0.282959,-0.657715,-27.984734,-6.893130,27.465649,1,47
72265,-0.744385,0.238770,-0.512695,-23.083969,-1.641221,22.442749,1,47
72266,-0.674316,0.281006,-0.578857,-15.709924,1.480916,14.358779,1,47

In [36]:
unique_wurfs = filtered_data['wurf_nummer'].unique()
unique_wurfs

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47], dtype=int64)

In [37]:
train_wurfs, test_wurfs = train_test_split(unique_wurfs, test_size=0.2, random_state=42)

test_wurfs

array([28, 40, 27, 44, 25, 37, 13, 20,  5, 26], dtype=int64)

In [38]:
train_data = filtered_data[filtered_data['wurf_nummer'].isin(train_wurfs)]
test_data = filtered_data[filtered_data['wurf_nummer'].isin(test_wurfs)]

In [39]:
test_data

,ax,ay,az,gx,gy,gz,label,wurf_nummer
7201,-0.666992,1.650879,-1.700195,250.129776,-52.877861,-248.183212,0,5
7202,0.722900,0.993896,-0.653320,250.129776,-56.259541,-248.183212,0,5
7203,0.042236,-0.162354,-0.925049,250.129776,-31.916031,-248.183212,0,5
7204,0.683594,-0.357422,-0.303711,250.129776,-41.900764,-248.183212,0,5
7205,0.423096,0.139160,-0.214111,250.129776,-46.603054,-248.183212,0,5
...,...,...,...,...,...,...,...,...
66361,-0.919678,1.200195,-0.380127,-33.198475,53.938931,110.671753,1,44
66362,-0.928467,1.170898,-0.392090,-26.312977,59.916031,115.183205,1,44
66363,-0.962891,1.139404,-0.392822,-21.015266,63.534351,118.374046,1,44
66364,-1.022217,1.171875,-0.337158,-18.366413,65.946564,123.977097,1,44
66365,-1.091553,1.304443,-0.295410,-14.877863,65.442749,131.091599,1,44

In [40]:
train_data

,ax,ay,az,gx,gy,gz,label,wurf_nummer
0,-0.529297,-0.585693,1.212646,83.122139,59.503819,26.992367,0,1
1,-0.616211,-0.611572,1.066650,87.221375,53.068703,45.687023,0,1
2,-0.665039,-0.663330,0.896973,96.763359,48.358780,61.442749,0,1
3,-0.643799,-0.742676,0.838623,111.404579,38.091602,67.748093,0,1
4,-0.565918,-0.812256,0.837646,124.549622,21.595419,66.770996,0,1
...,...,...,...,...,...,...,...,...
72262,-0.852051,0.165771,-0.548096,-33.427483,-17.564886,33.633587,1,47
72263,-0.685791,0.134766,-0.592041,-29.908398,-11.519084,31.030535,1,47
72264,-0.902588,0.282959,-0.657715,-27.984734,-6.893130,27.465649,1,47
72265,-0.744385,0.238770,-0.512695,-23.083969,-1.641221,22.442749,1,47
72266,-0.674316,0.281006,-0.578857,-15.709924,1.480916,14.358779,1,47

In [41]:
X_train = train_data[['ax', 'ay', 'az', 'gx', 'gy', 'gz']]
y_train = train_data['label']
X_test = test_data[['ax', 'ay', 'az', 'gx', 'gy', 'gz']]
y_test = test_data['label']

In [42]:
scaler = StandardScaler()
X_train_normalized = scaler.fit_transform(X_train)
X_test_normalized = scaler.transform(X_test)

In [43]:
X_train_normalized.shape, X_test_normalized.shape, y_train.shape, y_test.shape

((40431, 6), (8690, 6), (40431,), (8690,))

In [44]:
model = Sequential()

In [45]:
model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(X_train_normalized.shape[1], 1)))
model.add(MaxPooling1D(pool_size=2))

model.add(LSTM(100, activation='relu'))

model.add(Dense(1, activation='sigmoid'))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

history = model.fit(X_train_normalized, y_train, epochs=10, batch_size=128, validation_data=(X_test_normalized, y_test))

model.evaluate(X_test_normalized, y_test)

C:\Users\49176\PycharmProjects\swtp\venv\lib\site-packages\keras\src\layers\convolutional\base_conv.py:107: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/10
316/316 ━━━━━━━━━━━━━━━━━━━━ 11s 17ms/step - accuracy: 0.6807 - loss: 0.6273 - val_accuracy: 0.4998 - val_loss: 0.7067
Epoch 2/10
316/316 ━━━━━━━━━━━━━━━━━━━━ 6s 20ms/step - accuracy: 0.7194 - loss: 0.5500 - val_accuracy: 0.6203 - val_loss: 0.6271
Epoch 3/10
316/316 ━━━━━━━━━━━━━━━━━━━━ 5s 17ms/step - accuracy: 0.7738 - loss: 0.4784 - val_accuracy: 0.7130 - val_loss: 0.5470
Epoch 4/10
316/316 ━━━━━━━━━━━━━━━━━━━━ 6s 18ms/step - accuracy: 0.7997 - loss: 0.4308 - val_accuracy: 0.6991 - val_loss: 0.5831
Epoch 5/10
316/316 ━━━━━━━━━━━━━━━━━━━━ 5s 16ms/step - accuracy: 0.8044 - loss: 0.4145 - val_accuracy: 0.7217 - val_loss: 0.5375
Epoch 6/10
316/316 ━━━━━━━━━━━━━━━━━━━━ 6s 18ms/step - accuracy: 0.8146 - loss: 0.4004 - val_accuracy: 0.7207 - val_loss: 0.5723
Epoch 7/10
316/316 ━━━━━━━━━━━━━━━━━━━━ 6s 18ms/step - accuracy: 0.8255 - loss: 0.3789 - val_accuracy: 0.7253 - val_loss: 0.5593
Epoch 8/10
316/316 ━━━━━━━━━━━━━━━━━━━━ 6s 21ms/step - accuracy: 0.8338 - loss: 0.3655 - val_accuracy: 0.7208 - val_loss: 0.5779
Epoch 9/10
316/316 ━━━━━━━━━━━━━━━━━━━━ 6s 18ms/step - accuracy: 0.8383 - loss: 0.3605 - val_accuracy: 0.7291 - val_loss: 0.5684
Epoch 10/10
316/316 ━━━━━━━━━━━━━━━━━━━━ 5s 15ms/step - accuracy: 0.8480 - loss: 0.3464 - val_accuracy: 0.7392 - val_loss: 0.5638
272/272 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8290 - loss: 0.4371

[0.5637502670288086, 0.7392405271530151]

In [46]:
#save model
model.save('model.keras')